/*
Syntax error: Undefined mixin 'border-radius'.
        on line 2 of /home/zach/Dropbox/javascript/gravity_simulator/stylesheets/index.sass, in `border-radius'
        from line 2 of /home/zach/Dropbox/javascript/gravity_simulator/stylesheets/index.sass

1: /home/zach/Dropbox/javascript/gravity_simulator/stylesheets/index.sass

Backtrace:
/home/zach/Dropbox/javascript/gravity_simulator/stylesheets/index.sass:2:in `border-radius'
/home/zach/Dropbox/javascript/gravity_simulator/stylesheets/index.sass:2
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:320:in `block in visit_mixin'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:98:in `block in with_mixin'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:121:in `with_frame'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:98:in `with_mixin'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:79:in `block in with_base'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:121:in `with_frame'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:79:in `with_base'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:389:in `map'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:79:in `block in with_base'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:121:in `with_frame'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/stack.rb:79:in `with_base'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `map'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:151:in `visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/tree/root_node.rb:20:in `render'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/lib/sass/engine.rb:274:in `render'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:17:in `block in render'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:16:in `render'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:153:in `timed'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:166:in `block in compile'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/logger.rb:46:in `red'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:165:in `compile'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:144:in `compile_if_required'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:127:in `each'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:127:in `block in run'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:153:in `timed'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/compiler.rb:126:in `run'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/watcher/compiler.rb:24:in `compile'
/home/zach/.rvm/rubies/ruby-2.1.0/lib/ruby/2.1.0/forwardable.rb:183:in `compile'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/watcher/project_watcher.rb:123:in `sass_modified'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/watcher/project_watcher.rb:111:in `sass_callback'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/watcher/watch.rb:14:in `call'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/watcher/watch.rb:14:in `run_callback'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/watcher/project_watcher.rb:91:in `block in listen_callback'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/watcher/project_watcher.rb:88:in `each'
/home/zach/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.20/lib/compass/watcher/project_watcher.rb:88:in `listen_callback'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/vendor/listen/lib/listen/adapter.rb:254:in `call'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/zach/.rvm/gems/ruby-2.1.0/gems/sass-3.3.10/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border-radius'.\A         on line 2 of /home/zach/Dropbox/javascript/gravity_simulator/stylesheets/index.sass, in `border-radius'\A         from line 2 of /home/zach/Dropbox/javascript/gravity_simulator/stylesheets/index.sass\A \A 1: /home/zach/Dropbox/javascript/gravity_simulator/stylesheets/index.sass"; }
